html, body, .container {
  height: 100%;
  background-color: lightgrey;
}

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-content: center;
}

.editor-pane {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 50%;
  min-width: 400px;
  width: 55%;
}

.CodeMirror {
  width: 50%;
  height: 50%;
  resize: none;
  margin: auto;
}

.option-pane {
  padding-top: 10px;
  margin: auto;
}

.display-element {
  width: 30%;
  height: 50%;
  margin: auto;
}
